asgiref==3.3.4
bcrypt==3.2.0
cffi==1.14.5
cryptography==3.4.7
dependency-injector==4.32.3
Django==3.2.3
djangorestframework==3.12.4
future==0.18.2
psycopg2==2.8.6
pycparser==2.20
PyJWT==2.1.0
python-dotenv==0.17.1
pytz==2021.1
serializers==0.2.4
six==1.15.0
sqlparse==0.4.1
